{% extends "admin/greenhouse_site.html" %}
{% load i18n %}
{% load static %}


{% block extrahead %}{{ block.super }}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="{% static 'Sensors/js/update_sensor_status.js' %}"></script>
{% endblock %}

{% block extrabody %}{{ block.super }}
    <div class="center">
        <h1>Greenhouse Gallery</h1>
        {% for image in images %}
            <div class="gallerydiv">
                <p class="gallerydate">{{image.get_header}}</p>
                <a href="{{image.image.url}}">
                    <img src="{{image.thumb.url}}">
                </a>
            </div>
        {% endfor %}
    </div>
{% endblock %}