{% load i18n %}
{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    {% block extrahead %}
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'Sensors/css/base_site.css' %}">
    {% endblock %}
</head>
<body class="background" style="background-image: url('{% static "Sensors/jpg/background.jpg" %}');">
    <div class="navcontainer">
        <ul class="navbar">
            <li class="navli"><a class="navlink" href="{% url 'dashboard'%}">Dashboard</a></li>
            <li class="navli"><a class="navlink" href="{% url 'gallery'%}">Gallery</a></li>
            <li class="navli"><a class="navlink" href="{% url 'plants'%}">Plants</a></li>
            <li class="navli"><a class="navlink" href="{% url 'graphs'%}">Graphs</a></li>
            <li class="navli"><a class="navlink" href="{% url 'progress'%}">Progress</a></li>
        </ul>
    </div>
    <div class="container">
        {% block extrabody %}
        {% endblock %}
    </div>
</body>
</html>