{% extends "admin/greenhouse_site.html" %}
{% load i18n %}
{% load static %}

{% block extrahead %}{{ block.super }}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="{% static 'Sensors/js/table_sorting.js' %}"></script>
{% endblock %}

{% block extrabody %}{{ block.super }}
    <div class="center">
        <h1>Greenhouse Plants</h1>
        <table class="center">
            <tr>
                <th>Type</th>
                <th>Status</th>
                <th>Sprout Date</th>
            </tr>
            {% for plant in plants %}
                <tr>
                    <td>{{plant.plant_type}}</td>
                    <td>{{plant.plant_status}}</td>
                    <td>{{plant.date_sprouted}}</td>
                </tr>
            {% endfor %}
        </table>
    </div>

{% endblock %}