h2 {
    display: inline;
}

.navbar {
    list-style-type: none;
    margin: 0px 320px;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

@media only screen and (min-width: 1200px) {
  .navbar {
    margin: 0px 320px;
  }

  .container {
    width: 1200px;
    min-height: 800px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 200px;
    margin-top: 0px;
    padding: 50px;
}
}

@media only screen and (max-width: 1200px) {
    .background{
        display: none;
    }
}


.navcontainer {
    background-color: #333;
}

.navlink {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.navli {
    float: left;
}

.active {
  background-color: #04AA6D;
}

.navlink:hover:not(.active) {
  background-color: #111;
}

.gallerydiv {
    display: inline-block;
}

.gallerydate {
    text-align: center;
}

.container {
    background: #D3D3D3;
}

.background {
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.center {
    margin: auto;
    text-align: center;
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    margin:auto;
}

td {
    border: 1px solid black;
    padding: 8px;
    text-align: left;
}

th {
    border: 1px solid black;
    text-align: left;
    padding: 8px;
    background-color: #005000;
    color: white;
    cursor: pointer;
}

tr:nth-child(odd) {
    background-color: white;
}

body {
    margin: 0%;
}

.canvas_graph {
    display: inline-block;
}